{% extends 'base.html'%}

{% block content %}
							<!-- Content -->
								<section>
									<header class="main">
										<h1>CONTACTO</h1>
									</header>

									 <form method="post" action="http://www.gonzalonazareno.org/josedom/resultado.php"></form>
								<form method="post" action="#">
									<div class="field half first">
										<label for="name">Nombre</label>
										<input type="text" name="name" id="name" />
									</div>
									<div class="field half">
										<label for="email">Email</label>
										<input type="text" name="email" id="email" />
									</div>
									<div class="field">
										<label for="message">Mensaje</label>
										<textarea name="message" id="message" rows="4"></textarea>
									</div>
									<ul class="actions">
										<li><input type="submit" value="Enviar Mensaje" class="special" /></li>
										<li><input type="reset" value="Reiniciar" /></li>
									</ul>
								</form>

								</section>

						</div>
					</div>
{% endblock %}