{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block content %}
<br>
	<form action="/creador" method="POST">
		<fieldset>
			<div class="form-group">
				<label for="nombre">Nombre: </label>
				<input class="form-control" id="nombre" type="text" name="nombre" maxlength="50" required> <br/>
			</div>
			<div class="form-group">
				<label for="description">Descripción: </label>
				<input class="form-control" id="description" type="text" name="desc" maxlength="60"> <br/>
			</div>
			<div class="form-group">
				<label for="public">¿Quieres que sea pública?: </label>
				<select name="public" class="form-control" id="public">
					<option value="true">Sí</option>
					<option value="false">No</option>
				</select> <br/>
			</div>
		</fieldset>
		<input type="submit" value="Crear">
	</form>
<br>
{% endblock %}