{% extends 'base.html'%}

{% block content %}

							<!-- Banner -->
								<section id="banner">
									<div class="content">
										<header>
											<h1>WitoMusic</h1>
											<p>Proyecto 3ª evaluación: Utilización de API web</p>
										</header>
										<p>El objetivo fundamental del proyecto es la realización de una página web alojada en Heroku y creada con el web framework python Flask, que utilizando algún servicio web proporcione una funcionalidad original.</p>
										<ul class="actions">
											<li><a href="http://lm.readthedocs.io/en/latest/unidades/u13/proyecto.html" class="button big">Continuar leyendo »</a></li>
										</ul>
									</div>
									<span class="image object">
										<img src="{{url_for('static', filename='images/bg.jpg')}}" alt="" />
									</span>
								</section>

							<!-- Section -->
								<section>
									<header class="major">
										<h2>Funciones</h2>
									</header>
									<div class="posts">
										<article>
											<a href="#" class="image"><img src="{{url_for('static', filename='images/pic01.jpg')}}" alt="Intro" /></a>
											<h3>Intro</h3>
                                            <p>- Sincronizar tu cuenta de spotify para tus playlists que posteriormente puedes escuchar desde la pagina web de spotify online. </p>
                                            <p>- En la aplicación saldrá un buscador para buscar por artista, álbum, canción... Posteriormente podrás añadir dicha canción a la playlist que desees.</p>
                                            <p>- El poder crear una lista de reproducción ya es una opción.</p>
											<ul class="actions">
											</ul>
										</article>
										<article>
											<a href="{{url_for('spotify')}}" class="image"><img src="{{url_for('static', filename='images/pic03.jpg')}}" alt="Spotify" /></a>
											<h3>Login en spotify</h3>
											<p>Sincroniza tu cuenta de spotify para poder disfrutar de las aplicaciones</p>
											<ul class="actions">
												<li><a href="{{url_for('spotify')}}" class="button">Iniciar Sesión »</a></li>
											</ul>
										</article>
										<article>
											<a href="{{url_for('search')}}" class="image"><img src="{{url_for('static', filename='images/pic02.jpg')}}" alt="Buscadores" /></a>
											<h3>Buscadores</h3>
											<p>En la aplicación saldrá un buscador para buscar por artista, álbum, canción... Posteriormente podrás añadir dicha canción a la playlist que desees.</p>
											<ul class="actions">
												<li><a href="{{url_for('search')}}" class="button">Buscar Canciones »</a></li>
											</ul>
										</article>
										<article>
											<a href="{{url_for('playlist')}}" class="image"><img src="{{url_for('static', filename='images/pic12.jpg')}}" alt="Spotify" /></a>
											<h3>Mis Playlists</h3>
											<p>Sincroniza tu cuenta de spotify para poder disfrutar de tus playlist.</p>
											<ul class="actions">
												<li><a href="{{url_for('playlist')}}" class="button">Ver Playlists »</a></li>
											</ul>
										</article>
										<article>
											<a href="{{url_for('crea')}}" class="image"><img src="{{url_for('static', filename='images/pic4.jpg')}}" alt="Creador" /></a>
											<h3>Creador de Playlists</h3>
											<p>El poder crear una lista de reproducción ya es una opción.</p>
											<ul class="actions">
												<li><a href="{{url_for('crea')}}" class="button">Creador »</a></li>
											</ul>
										</article>
										<article>
											<a href="mailto:vazquezgarciaernesto@gmail.com" class="image"><img src="{{url_for('static', filename='images/contacto.jpg')}}" alt="Contacto" /></a>
											<h3>Contacto</h3>
											<p></p>
											<ul class="actions">
												<li><a href="mailto:vazquezgarciaernesto@gmail.com" class="button">Mandar Correo</a></li>
											</ul>
										</article>
									</div>
								</section>

{% endblock %}