{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block content %}

                                <section id="banner">
									<div class="content">
										<h1>Inicia sesión en Spotify para entrar en la aplicación</h1>
										<form action="/perfil_spotify">
											<input type="submit" value="Iniciar Sesión">
										</form>
										<form action="/">
                                      		<input type="submit" value="Volver al inicio">
                                      	</form>
                                        <br/>
									</div>
									<span class="image object">
										<img src="{{url_for('static', filename='images/pic03.jpg')}}" alt="" />
									</span>
								</section>
    
{% endblock %}
