{% extends "base.html" %}
{% block title %}oauth{% endblock %}
{% block content %}

                                <section id="banner">
									<div class="content">
										<h1>Inicia sesión en Spotify</h1>
                                        <a href="/perfil_spotify"><button type="button" class="btn btn-primary btn-sm">Login a Spotify para ver el perfil</button></a>
									</div>
									<span class="image object">
										<img href="https://open.spotify.com/artist/38M50K62fGv3u0XmMuLUWR" src="{{url_for('static', filename='images/pic03.jpg')}}" alt="" />
									</span>
								</section>

	
    
{% endblock %}

